<h1>Stories#edit</h1>
<p>Find me in app/views/stories/edit.html.erb</p>
<div class="well well-lg">
    <div class="row">
          <%= bootstrap_form_for ([@project,@story]) do |f| %>
             <%= f.text_area  :description,label:"Description"  %>
             <%= f.submit "Save"  , class:"btn btn-primary btn-block btn-lg btn-space",method: :patch %>
          <%end%>
    </div>
</div>
