.navbar{
    background-color: black;
}
.pad-mystyle{
   
    padding-top: 1cm;
}

.btn-space{
   
    padding-top: 1cm;
}


body{
    color: blue;
}

.project-title{
    font-size: 30px;
}


.project-description{
    padding: 10px 10px 10px 10px;
    font-family: "Arial";
    
}
small{
    color: #b20128;
}